
div.uk-container {
  background-image: url("background.jpg");
  background-size: 650px;
}

ul.uk-slider-items {
    height: 450px !important;
    margin: 0px !important;
}

img {
  width: 100%;
  height: 100%;
}

i.fa-heart {
  color:#666666;
  /* after being clicked, can the heart be this color? #ffcccc; */
}


button.favoriteRecipeBtn {
  border: 0cm;
}

div.uk-navbar-left{
  font-family: Pacifico;
  font-size: 38px;
  color: #29a3a3;
  padding-left: 10px;
}

